.gnb>li {
	float: left;
	margin-left: 5px;
}

nav li a {
	display: block;
	width: 120px;
	height: 35px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	color: #5E5D56;
}

.gnb>li a:hover:not (.active ){
	border-bottom: solid 4px #edd600;
	transition: 0.5s;
}

.gnb {
	width: 100%;
	height: 200px;
}

.sub {
	display: none;
	z-index: 100000;
	width: 1260px;
	height: 200px;
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 50px;
	left: 0;
}

.sub li {
	
}

.sub li a {
	width: 120px;
	height: 35px;
}

.sub.sub1 {
	padding-left: 168px;
}

.sub.sub1 a {
	margin-top: 10px;
}

.sub.sub1 a:hover {
	text-decoration-color: #faed00;
	text-decoration: underline;
}

.main {
	width: 100%;
	height: 200px;
	padding-top: 10px;
}

.main ul li {
	float: left;
	width: 25%;
}

.main ul li a {
	display: block;
}

.reserv {
	background: #403B39;
	width: 100%;
	height: 170px;
	color: #fff;
}

.reserv button {
	margin-left: 140px;
}

.reserv a {
	color: #fff;
}

.center {
	background: #5E5D56;
	width: 100%;
	height: 170px;
	color: white;
}

.center button {
	margin-left: 140px;
	color: #fff;
}

.info {
	background: #FDC00D;
	width: 100%;
	height: 170px;
	color: white;
}

.info button {
	margin-left: 140px;
	color: #fff;
}

.dddd {
	background: #fff;
	width: 100%;
	height: 170px;
	color: #5E5D56;
}

.dddd button {
	margin-left: 140px;
	color: #5E5D56;
}

.main h2 {
	padding: 18px 30px;
}

.main p {
	padding: 5px 15px;
}

.doc {
	clear: both;
	position: relative;
}

.doc h1 {
	position: absolute;
	top: 40px;
	left: 40px;
}

.doc input {
	position: absolute;
	line-height: 50px;
	border: none;
	left: 40px;
	top: 100px;
}

.doc button {
	position: absolute;
	top: 100px;
	left: 400px;
	border: none;
	width: 100px;
	height: 50px;
	background: #333;
	color: #fff;
}

.reslist h3 {
	padding-left: 20px;
}

.reslist table {
	border: #5E5D56;
	width: 800px;
	height: 130px;
	text-align: center;
	margin: 100px auto;
}

.reslist tr {
	
}

.reslist td {
	width: 20%;
}

#btn {
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: -160px;
	width: 80px;
}