@page contentType="text/css"
@charset "UTF-8";

#table { 
	border:2px solid black;
	width:1050px;
	padding:50px;
	margin:100px auto;
	 
}
th,td {
	padding:20px;
	font-size:20px;
}
th {
	width:140px;
}
span {
	color:red;
	font-size:12px;
}
input {
	line-height:25px;
}
select {			
	height:25px;
}
input[type=button] {
    width: 100px;  height:30px;
    font-size:14px;
}
input[type=submit] {
    width: 100px;  height:30px;
    margin-right:80px;
    font-size:14px;
}